{% extends 'base.html' %}
{% block content %}
	<div class="container">
		<h1 style="color: #0561EF;font-size: 40;text-align: center;"><strong><u>{{ category.title }}</u></strong></h1><br><br>
		{% if posts %}
			<ul class="list-group">
				{% for post in posts %}
					<li class="list-group-item"><a href="{% url 'view_post' slug=post.slug %}"><font style="color: #0E6655;font-size: 20">{{ post.title }}</font></a><font class="text-muted"> &nbsp &nbsp &nbsp &nbsp Posted by {{ post.author.username }} on {{ post.date_posted|date:"F d, Y" }}</font></li>
				{% endfor %}
			</ul>
		{% else %}
			<small style="color: #23F909;font-size: 20">There are no blogs on this topic yet.</small>
		{% endif %}<br>
	</div>
{% endblock content %}